<!doctype html>
<title>Query1</title>
{% assets "scss_all" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}

<h1>Hello World, Harsh was Here</h1>

<form name="Queries" action="/pick" method="POST">
    <label for="choosingquery">Choose Query</label>
        <select name=queries>
            {% for query in context.queries %}
                <option value="{{query[0]}}" SELECTED>{{query[1]}}</option>
            {% endfor %}     
        </select>
        <input type="submit" value="Submit"></input>


{% if context.text %}
<h2>{{context.text}}</h2>
{% endif %}

{% for c in context.covid %}
<h3>{{c}}</h3>
{% endfor %}

