{% extends "layout.html" %}
{% block content %}

<form method="get" action="/">
  {% if context.query_name %}
  <h3>{{context.query_name}}</h3>
  {% endif %}
  <input type="submit" value="Back" />
</form>

<form name="Item_1" action="/submission1" method="POST">

  <label for="choosingname">Choose State</label>
  <select name=states>
    {% for state in context.states %}
    <option value="{{state}}" SELECTED>{{state}}</option>
    {% endfor %}
  </select>
  <input type="text" name=startDate value="Date Start" class="form-control dp" />
  <input type="text" name=endDate value="Date End" class="form-control dp" />
  <input type="submit" value="Submit">
</form>


{% if context.output %}
{{context.output}}
{% endif %}

{% endblock %}