{% extends "layout.html" %}
{% block content %}

<form method="get" action="/">
  {% if context.query_name %}
  <h3>{{context.query_name}}</h3>
  {% endif %}
  <input type="submit" value="Back" />
</form>


<form name="Item_5" action="/submission5" method="POST">
  <input type="text" name=startDate value="Date Start" class="form-control dp" />
  <input type="text" name=endDate value="Date End" class="form-control dp" />
  <input type="submit" value="Submit">
  
</form>


{% if context.output %}
{{context.output}}
{% endif %}

{% endblock %}